header {
  position: relative;
  background-color: black;
  height: 100vh;
  min-height: 25rem;
  width: 100%;
  overflow: hidden;
}

header video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: 0;
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

header .container {
  position: relative;
  z-index: 2;
}

header .overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: black;
  opacity: 0.5;
  z-index: 1;
}

@media (pointer: coarse) and (hover: none) {
  header {
    background: url('/img/zip_Candolim-Beach/Snapshots/Candolim-Beach.jpg') black no-repeat center center scroll;
  }
  header video {
    display: none;
  }
}

.display-3 {
  font-family: 'Major Mono Display', monospace;
}

.signature {
  font-size: 1rem;
}

.hello {
  text-align: left;
  padding-left: 20px;
}

.hello::first-line {
  font-family: 'Major Mono Display', monospace;
  font-size: 2.5rem;
}

.endSign {
  font-family: 'Major Mono Display', monospace;
  font-size: 2.5rem;
  text-align: right;
  padding-right: 150px;
  margin-top: -35px;
}


// .masthead {
//   min-height: 30rem;
//   position: relative;
//   display: table;
//   width: 100%;
//   height: auto;
//   padding-top: 8rem;
//   padding-bottom: 8rem;
//   -webkit-clip-path: polygon(0 0, 100% 0, 100% 45%, 0 62%);
//   clip-path: polygon(0 0, 100% 0, 100% 45%, 0 62%);  
//   background: url('../img/lemon.jpg');
//   background-position: center center;
//   background-repeat: no-repeat;
//   background-size: cover;
//   h1 {
//     font-family: 'Permanent Marker', cursive;
//     font-size: 4rem;
//     margin: 0;
//     padding: 0;
//     color: #C21807;
//   }
//   @media (min-width: 992px) {
//     height: 100vh;
//     h1 {
//       font-size: 5.5rem;
//     }
//   }
// }
