/*STYLES TO THE ABOUT PART OF THE WEBPAGE*/

body html {
    padding: 0;
    margin: 0;
}

.aboutcontent {
    background-image: url(../images/color_keyboarddark.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
}

.display-4 {
    font-family: 'Pacifico', sans-serif;
    color: white;
}

hr {
    border-top: 1px solid rgb(255, 255, 255) !important;
}

.nametext {
    margin: 120px 60px;
}

.row {
    padding: 20px 50px;
}

p {
    color: white;
    font-family: 'Montserrat', sans-serif;
}

a {
    color:white !important;
    text-align: center;
    align-content: center;
    font-family: 'Montserrat', sans-serif;
}

.navbar {
    border-radius: 7px;
    color: rgb(0, 0, 0, .1) !important;
}

/*STYLES TO THE PROJECT PORTION OF THE WEBPAGE*/

.projectcontent {
    background-image: url(../images/lightbulb.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
}

.display-5 {
    font-family:'Pacifico', sans-serif; 
    font-size: 45px;
    color: white;
}

.projecttext {
    padding-top: 25px;
    padding-bottom: 35px;
}

.card-text {
    color: black;
}

.gitinfo {
    margin-top: 95px;
    padding-top: 35px;
}

/*STYLES FOR THE SKILLS PORTION OF THE WEBPAGE*/

.skillscontent {
    background-image: url(../images/marcus_crescent.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
}

/*STYLES FOR THE CONTACT PORTION OF THE WEBPAGE*/

.contactcontent {
    background-image: url(../images/antoine_lightsbottom.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
}